.prodotto {
  display: inline-block;
  width: 33%;
  background-color: #EDEDED;
  position: relative;
  margin-bottom: 20px;
}

img {
  padding: 60px;
}

.sconto {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.vecchio {
  background-color: green;
}

.nuovo {
  background-color: red;
}

.preferiti {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  color: red;
  font-size: 40px;
  display: none;
}

/* Funzione che mostra il cuoricino quando ci passiamo sopra con il mouse*/

.prodotto:hover .preferiti{
  display: block;
}
